.logo { border: 1px solid none;;
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center
}

.logopng {
    height: 200px;
    width: 300px;
}
.carrusel{ border: 1px solid none;
    height: 50%;
    width: 50%;
}
.carrusel0{ border: 1px solid none;
    background-color: rgb(204, 204, 204);
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center
}
.basictop { 
    height: 150px;
    width: 150px;
}
.basicbottom{
    height: 80%;
    width:50%;
    display: flex;
    justify-content: end
}
.basiczapato {border: 1px solid none;
    height: 200px;
    width: 150px
}

body {
    background-color: rgba(255, 255, 255, 0.685);
    display: flex;
    flex-direction: column;
    align-items: center
}
.tucloset{ border: 1px solid none;
    height: 80%;
    width:80%;
    display: flex;
    flex-direction: column;
    
    align-items: center
}
.tops, .bottoms, .zapatos { border: 1px solid none  ;
    height:200px;
    width: 60%;
    display: flex;
    justify-items: center;
}



.top2, .zapatos2,.bottoms2    {
     border: 1px solid  gray;
    height: 200px;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center
}
.bottoms2    {
    border: 1px solid gray;
   height: 200px;
   width: 80%;
   display: flex;
   justify-content: space-around
   
}

.bottomcolor {border: 1px solid none;
    height: 50px;
   width: 250px;

}


 .top1, .bottoms1, .zapatos1  { border: 1px solid rgb(184, 181, 181);; background-color: rgb(199, 199, 199);
    border-radius: 5px;
    height: 200px;
    width: 200px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center
}

.botonaleatorio{ border: 1px solid none;
    height: 50px;
    width: 100%;
    display: flex;
   
    justify-content: space-around
    
}

.colortop, .colorbottom, .colorzapatos{
    height: 20px;
width: 20px;
}



.zapatoscolor, .topcolor, .bottomcolor {border: solid 1px none;
    

}

